@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

::-webkit-scrollbar {
	width: 0.5rem;
}
::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

html,
body {
	font-family: "Comfortaa", sans-serif;
}

.items-centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
